.km_info {
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
  }
.videowrapper {
    background: var(--fontColor);
    height: 100%;
    text-align: center;
    padding-top: 6px;
}
.videowrapper iframe {
    height: 315px*50%;
    width: 560*50%;
    align-self: center;
}
.Kalkulaatorid {
    background: var(--nuppBg);
    color: var(--bg);
    font-size: 20px;
    text-transform: uppercase;
    padding: 16px 60px;
    border-radius: 10px;
    border:none;
    border-bottom: 6px #0002;
    margin: 5px;
}
.kalkulaator_taust {
    float: left;
    background: var(--fontColor);
    width: 507px;
    text-align: center;
    height: 100%;
    padding-top: 6px;
    padding-bottom: 16px;
}
.kalkulaator_link {
    color: var(--bg);
}
.calculus {
    background: var(--nuppBg);
    color: var(--bg);
    font-size: 20px;
    text-transform: uppercase;
    padding: 25px 60px;
    border-radius: 10px;
    border:none;
    border-bottom: 6px #0002;
    margin: 5px;
    -moz-appearance: button;
    -webkit-appearance: button;
}
